.score-box{
    position: relative;
}

/* legend style */
.scoreLegend-box{
    height: 263px;
    display: grid;
    background-color: transparent;
}
.sco-title{
    color: #20253A;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    padding: 24px 0 0 30px;
}
.scoVal-box{
    width: 95px;
    justify-self: center;
    text-align: center;
}
.sco-val{
    color: #282D30;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
}
.sco-text{
    color: #9B9EAC;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}
