/**
* Styles for all components related to average session chart
*/

.average-box{
    background: rgb(255, 25, 25);
}
.tipAverage-box{
    background-color: white;
    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
    padding: 10px 7px 10px 7px ;
}
.averLegend-box{
    color: white;
    width: 147px;
    position: absolute;
    top: 20px;
    left: 20px;
}